[Desktop Entry]
Version=1.0
Name=Basecamp
Exec=iram-launch-webapp https://launchpad.37signals.com
Terminal=false
Type=Application
Icon=iram-basecamp
StartupNotify=true
