[Desktop Entry]
Version=1.0
Type=Application
Name=🧠 Iram AI Shell Copilot
Comment=Natural Language Bash Command Assistant (??)
Exec=alacritty -e /home/apravint/.local/bin/iram-ai-cmd
Icon=iram-ai-cmd
Terminal=false
Categories=Utility;ArtificialIntelligence;Development;
StartupNotify=true
