[Desktop Entry]
Version=1.0
Type=Application
Name=🪄 Iram AI Smart Clipboard
Comment=Code refactoring, translation, and text summarization (Super + Shift + V)
Exec=/home/apravint/.local/bin/iram-clipboard-agent
Icon=iram-clipboard
Terminal=false
Categories=Utility;ArtificialIntelligence;TextEditor;
StartupNotify=true
