[Desktop Entry]
Version=1.0
Name=WhatsApp
Exec=iram-launch-webapp https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=iram-whatsapp
StartupNotify=true
