[Desktop Entry]
Version=1.0
Name=YouTube
Exec=iram-launch-webapp https://youtube.com/
Terminal=false
Type=Application
Icon=iram-youtube
StartupNotify=true
