[Desktop Entry]
Version=1.0
Name=Zoom
Exec=iram-webapp-handler-zoom %u
Terminal=false
Type=Application
Icon=iram-zoom
StartupNotify=true
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus
