[Unit]
Description=Timer for Iram AI File Curator Inspections

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Unit=iram-organizer.service

[Install]
WantedBy=timers.target
