[Unit]
Description=Swaybg Wallpaper Daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=60
StartLimitBurst=15

[Service]
Type=simple
ExecStartPre=/bin/bash -c 'for i in {1..30}; do hyprctl monitors 2>/dev/null | grep -q "Monitor " && exit 0; sleep 1; done; exit 0'
ExecStart=/usr/bin/swaybg -i %h/.local/state/iram/current/background -m fill
Restart=always
RestartSec=2s

[Install]
WantedBy=graphical-session.target
