[Desktop Entry]
Name=IRAM OS
Comment=IRAM OS Hyprland Tiling Desktop
Exec=start-hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;iram;
