[Desktop Entry]
Name=Iram
Comment=Iram Hyprland Tiling Desktop
Exec=start-hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;iram;
