[Desktop Entry]
Name=Omarchy
Comment=Omarchy Hyprland Tiling Desktop
Exec=start-hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;omarchy;
